header {
    h1 {
        padding-left: 23px;
        color: #fff;
    }
    p {
        color: #767676;
    }
    .wrap {
        display: flex;
        gap: 20px;
        align-items: baseline;
    }
}